[run]
source =
    rentsecure_be
    ai_assistant
    core
    dashboard
    documents
    finance
    notification
    properties
    referral_and_earn
    smartbot
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */venv/*
    .venv/*
    */site-packages/*

[report]
fail_under = 90
show_missing = True
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */venv/*
    .venv/*
    */site-packages/*
