<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Leave and License Agreement</title>
  <style>
    body { font-family: 'Georgia', serif; line-height: 1.6; margin: 40px; }
    h1, h2, h3 { text-align: center; }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { border: 1px solid #000; padding: 8px; text-align: left; }
    .section { margin-top: 30px; }
    .signature-block { margin-top: 50px; }
    .page-break { page-break-before: always; }
  </style>
</head>
<body>




  <div class="section page-break" style="position: relative; min-height: 1000px;">
    <h1>Leave and License Agreement</h1>
    <p style="text-align: center; font-size: 13px;">
        This agreement is digitally stamped and signed via Leegality under the Indian Stamp Act and Information Technology Act, 2000.
        </p>
    <p>This agreement is made and executed on <strong>06/02/2025</strong> at <strong>Wagholi Between,</strong></p>

    <p>
      1) <strong>Name:</strong> Mrs Bonde Gitabai Arun, Age : About 68 Years, PAN : HMBPB6434H Residing at:
      Block Sector:Wagholi, Road:Bhavdi, Wagholi, Pune, Maharashtra, 412207 <br><br>
      HEREINAFTER called 'the Licensor (which expression shall mean and include the Licensor above named and also
      his/her/their respective heirs, successors, assigns, executors and administrators)<br><br>

      2) <strong>Name:</strong> Mr.Bairagi Shubham Mahesh, Age : About 30 Years, PAN : CGIPB0124Q Residing at:
      Flat No:, Building Name:Shanti Niketan, Block Sector:Po. Mandsaur, Road:Sudama nagar No 1, Mandsaur, Mandsaur,
      Madhya pradesh, 458001 <br><br>
      HEREINAFTER called 'the Licensee' (which expression shall mean and include only Licensee above named). <br><br>
      WHEREAS the Licensor is absolutely seized and possessed of and or otherwise well and sufficiently entitled to all that
      constructed portion being unit described in Schedule I hereunder written and are hereafter for the sake of brevity called
      or referred to as Licensed Premises and is/are desirous of giving the said premises on Leave and License basis under
      Section 24 of the Maharashtra Rent Control Act, 1999. <br><br>

      AND WHEREAS the Licensee herein is in need of temporary premises for Residential use has/have approached the Licensor
      with a request to allow the Licensee herein to use and occupy the said premises on Leave and License basis for a
      period of 11 Months commencing from 01/01/2025 and ending on 30/11/2025, on terms and subject to conditions
      hereafter appearing. <br><br>

      AND WHEREAS the Licensor have agreed to allow the Licensee herein to use and occupy the said Licensed premises
      for his aforesaid Residential purposes only, on Leave and License basis for above mentioned period, on terms and
      subject to conditions hereafter appearing;
    </p>
    <!-- Bottom Left Text -->
    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 12px; font-size: 12px; ">
        <p style="margin: 0;">This document was eSigned and stamped digitally through Leegality. Signatures have legal validity under the IT Act, 2000 and the Indian Evidence Act.</p>
    </div>
  </div>

  <div class="section page-break" style="position: relative; min-height: 1000px;">
    <p>
      NOW THEREFORE IT IS HEREBY AGREED TO, DECLARED AND RECORDED BY AND BETWEEN THE PARTIES HERETO AS FOLLOWS:- <br>

      1) <strong>Period:</strong> That the Licensor hereby grants to the Licensee herein a revocable leave and license, to occupy the
      Licensed Premises, described in Schedule I hereunder written without creating any tenancy rights or any other rights,
      title and interest in favour of the Licensee for a period of 11 Months commencing from 01/01/2025 and ending on 30/11/2025. <br> <br>

      2) <strong>License Fee & Deposit:</strong> That the Licensee shall pay to the Licensor License fee at the rate of
      Rs. 9500(Nine Thousand Five Hundred Only) per month towards the compensation and Rs. 20000 (Twenty Thousand Only)
      interest free refundable deposit, for the use of the said Licensed premises. The amount of monthly compensation
      License fee shall be payable within first five days of the concerned month of Leave and License. <br> <br>

      3) <strong>Payment of Deposit:</strong> That the Licensee have paid / shall pay the above mentioned deposit/premium
       as mentioned above by Cash. Amount Rs.20000/-(Twenty Thousand Only)<br> <br>

      4) <strong>Maintenance Charges:</strong> That the all outgoings including all rates, taxes, levies, assessment,
      maintenance charges, non occupancy charges, etc. in respect of the said premises shall be paid by the Licensor.<br> <br>

      5) <strong>Electricity Charges:</strong> The licensee herein shall pay the electricity bills directly for energy
      consumed on the licensed premises and should submit original receipts to Licensor indicating that the electricity
      bills are paid.<br> <br>

      6) <strong>Use:</strong> That the Licensed premises shall only be used by the Licensee for Residential purpose.
      The Licensee shall maintain the said premises in its existing condition and damage, if any, caused to the said premises, the same shall be repaired by the Licensee at its own cost subject to normal wear and tear.
      The Licensee shall not do anything in the said premises which is or is likely to cause a nuisance to the other occupants
      of the said building or to the prejudice in any manner to the rights of Licensor in respect of said premises or shall
      not do any unlawful activities prohibited by State or Central Government.<br> <br>
    </p>
    <!-- Bottom Left Text -->
    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 12px; font-size: 12px; ">
        <p style="margin: 0;">This document was eSigned and stamped digitally through Leegality. Signatures have legal validity under the IT Act, 2000 and the Indian Evidence Act.</p>
    </div>
  </div>

  <div class="section page-break" style="position: relative; min-height: 1000px;">
    <p>
    7) <strong>Alteration:</strong> That the Licensee shall not make or permit to do any alteration or addition to the
    construction or arrangements (internal or external) to the Licensed premises without previous consent in writing
    from the Licensor.<br> <br>

    8) <strong>No Tenancy:</strong> That the Licensee shall not claim any tenancy right and shall not have any right to
    transfer, assign, and sublet or grant any license or sub-license in respect of the Licensed Premises or any part
    thereof and also shall not mortgage or raise any loan against the said premises.<br> <br>

    9) <strong>Inspection:</strong> That, the Licensor shall on reasonable notice given by the Licensor to the Licensee
    shall have a right of access either by himself / herself / themselves or through authorized representative to enter,
    view and inspect the Licensed premises at reasonable intervals.<br> <br>

    10) <strong>Cancellation:</strong> That, Subject to the condition of lock in period (if any), if the Licensee commits
    default in regular and punctual payments of monthly compensation as herein before mentioned or commit/s breach of any
    of the terms, covenants and conditions of this agreement or if any legislation prohibiting the Leave and License is
    imposed, the Licensor shall be entitled to revoke and / or cancel the License hereby granted, by giving notice in
    writing of one month and the Licensee too will have the right to vacate the said premises by giving a notice in
    writing of one month to the Licensor as mentioned earlier.<br> <br>

    11) <strong>Possession:</strong> That the immediately at on the expiration or termination or cancellation of this
    agreement the Licensee shall vacate the said premises without delay with all his goods and belongings.
    In the event of the Licensee failing and / or neglecting to remove himself and / or his articles from the
    said premises on expiry or sooner determination of this Agreement ,the Licensor shall be entitled to recover
    damages at the rate of double the daily amount of compensation per day and or alternatively the Licensor shall
    be entitled to remove the Licensee and his belongings from the Licensed premises, without recourse to the Court of Law.<br> <br>

    12) <strong>Miscellaneous:</strong> Licensee will repair all damages if any and Paint the said Premises, and pay all
    electricity dues before Vacant, 10 Percent rent will be increase if agreement will extend.<br> <br>

    13) <strong>Registration:</strong> This Agreement is to be registered and the expenditure of Stamp duty and registration
    fees and incidental charges, if any, shall be borne by the Licensee.<br> <br>
    </p>
    <!-- Bottom Left Text -->
    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 12px; font-size: 12px; ">
        <p style="margin: 0;">This document was eSigned and stamped digitally through Leegality. Signatures have legal validity under the IT Act, 2000 and the Indian Evidence Act.</p>
    </div>
  </div>

  <div class="section page-break" style="position: relative; min-height: 1000px;">
    <h2>Schedule I</h2>
    <p>(Being the correct description of premise Apartment/Flat which is the subject matter of these presents)</p>
    <p>All that constructed portion being Residential unit bearing Apartment/Flat No. 204, Built-up :400 Square Feet,
    situated on the Second Floor of a Building known as 'PRISHA HEIGHTS ' standing on the plot of land bearing
    GAT NUMBER :670, Road: Kesnand, Location: Wagholi, of Village:Wagholi (avhalwadi) ,situated within the
    revenue limits of Tehsil Haveli and Dist Pune and situated within the limits of Pune Municipal Corporation.</p>
    <p>
        Executed and signed electronically via Aadhaar eSign on Leegality Platform. The exact date and time of execution is available in the digital signature audit trail attached with this document.
    </p>
    <p>
    IN WITNESS WHEREOF, the parties hereto have executed this Leave and License Agreement by affixing their Aadhaar-based electronic signatures through a licensed eSign provider (Leegality) on the day, month, and year first above written.
    </p>
    <p>
    The parties hereby consent to use their Aadhaar details (including UID number, name, and fingerprint/OTP) for the purpose of identity verification under the Aadhaar (Targeted Delivery of Financial and Other Subsidies, Benefits and Services) Act, 2016, and for electronic signing of this document.
    </p>
    <!-- Bottom Left Text -->
    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 12px; font-size: 12px; ">
        <p style="margin: 0;">This document was eSigned and stamped digitally through Leegality. Signatures have legal validity under the IT Act, 2000 and the Indian Evidence Act.</p>
    </div>
  </div>

  <div class="section page-break" style="position: relative; min-height: 1000px;">
    <table style="width: 100%; border-collapse: collapse;"
        <tr>
          <th>Name & Address</th>
          <th>Photo</th>
          <th>Aadhaar Verified</th>
          <th>Digitally Signed (via Leegality using Aadhaar eSign)</th>
        </tr>

        <tr>
          <td>
            <div class="bold">Licensor</div>
            Mrs Bonde Gitabai Arun<br>
            <div class="bold">Address:</div> Block Sector:Wagholi, Road:Bhavdi, Wagholi, Pune, Maharashtra, 412207
          </td>
          <td><img class="logo" src="https://dummyimage.com/60x60/000/fff&text=Photo" alt="Licensor Photo"></td>
          <td class="tick">✔️</td>
          <td>{{es_signer1}}</td>
        </tr>

        <tr>
          <td>
            <div class="bold">Licensee</div>
            Mr. Bairagi Shubham Mahesh<br>
            <div class="bold">Address:</div> Flat No: , Building Name:Shanti Niketan, Block Sector:Po. Mandsaur, Road:Sudama nagar No 1, Mandsaur, Mandsaur, Madhya Pradesh, 458001
          </td>
          <td><img class="logo" src="https://dummyimage.com/60x60/000/fff&text=Photo" alt="Licensee Photo" ></td>
          <td class="tick">✔️</td>
          <td>{{es_signer2}}</td>
        </tr>
    </table>

    <div style="text-align: center; font-size: 12px; margin-top: 40px;">
        <p style="margin: 0;">
          This agreement has been executed using Aadhaar-based electronic signatures under the Information Technology Act, 2000. All parties were identified using UIDAI-based authentication through Leegality.
        </p>
    </div>

    <div style="position: absolute; bottom: 10px; left: 10px; font-size: 12px; font-size: 12px; ">
        <p style="margin: 0;">This document was eSigned and stamped digitally through Leegality. Signatures have legal validity under the IT Act, 2000 and the Indian Evidence Act.</p>
    </div>
  </div>

</body>
</html>
